/*======================================*/
/*⚡29 css section   Design   Tokens ⚡ */
/*======================================*/
:root{--nvx-space-1:0.25rem;--nvx-space-2:0.5rem;--nvx-space-3:0.75rem;--nvx-space-4:1rem;--nvx-space-5:1.25rem;--nvx-space-6:1.5rem;--nvx-space-8:2rem;--nvx-space-10:2.5rem;--nvx-space-12:3rem;--nvx-space-16:4rem;--nvx-space-20:5rem;--nvx-space-24:6rem;--nvx-space-32:8rem;--nvx-font-scale:1.125}

