/*======================================*/
⚡118 css section  CURSOR UTILITIES ⚡
/*======================================*/
.nvx-cursor-wait{cursor:wait}.nvx-cursor-not-allowed{cursor:not-allowed}
.nvx-cursor-progress{cursor:progress}.nvx-cursor-grab{cursor:grab}
.nvx-cursor-grabbing{cursor:grabbing}.nvx-cursor-zoom-in{cursor:zoom-in}
.nvx-cursor-zoom-out{cursor:zoom-out}

