/*======================================*/
⚡125 css section  LOADING SIZES ⚡
/*======================================*/
.nvx-loading-sm::after{width:24px;height:24px;margin:-12px 0 0 -12px;border-width:2px}
.nvx-loading-lg::after{width:60px;height:60px;margin:-30px 0 0 -30px;border-width:4px}
.nvx-loading-xl::after{width:80px;height:80px;margin:-40px 0 0 -40px;border-width:5px}
