/*======================================*/
⚡121 css section  SIZING UTILITIES - EXTENDED ⚡
/*======================================*/
.nvx-min-w-0{min-width:0}.nvx-min-w-full{min-width:100%}
.nvx-max-w-xs{max-width:20rem}.nvx-max-w-sm{max-width:24rem}
.nvx-max-w-md{max-width:28rem}.nvx-max-w-lg{max-width:32rem}
.nvx-max-w-xl{max-width:36rem}.nvx-max-w-2xl{max-width:42rem}
.nvx-max-w-3xl{max-width:48rem}.nvx-max-w-4xl{max-width:56rem}
.nvx-max-w-5xl{max-width:64rem}.nvx-max-w-6xl{max-width:72rem}
.nvx-max-w-7xl{max-width:80rem}.nvx-max-w-full{max-width:100%}
.nvx-max-w-screen-sm{max-width:640px}.nvx-max-w-screen-md{max-width:768px}
.nvx-max-w-screen-lg{max-width:1024px}.nvx-max-w-screen-xl{max-width:1280px}
.nvx-max-w-screen-2xl{max-width:1536px}
.nvx-min-h-0{min-height:0}.nvx-min-h-full{min-height:100%}
.nvx-max-h-xs{max-height:20rem}.nvx-max-h-sm{max-height:24rem}
.nvx-max-h-md{max-height:28rem}.nvx-max-h-lg{max-height:32rem}
.nvx-max-h-xl{max-height:36rem}.nvx-max-h-2xl{max-height:42rem}
.nvx-max-h-3xl{max-height:48rem}.nvx-max-h-full{max-height:100%}
.nvx-max-h-screen{max-height:100vh}
