/*======================================*/
/*⚡42 css section  Opacity & Cursor ⚡ */
/*======================================*/
.nvx-opacity-0{opacity:0}.nvx-opacity-25{opacity:0.25}.nvx-opacity-50{opacity:0.5}.nvx-opacity-75{opacity:0.75}.nvx-opacity-100{opacity:1}.nvx-cursor-auto{cursor:auto}.nvx-cursor-pointer{cursor:pointer}.nvx-cursor-default{cursor:default}.nvx-cursor-wait{cursor:wait}.nvx-cursor-text{cursor:text}.nvx-cursor-move{cursor:move}.nvx-cursor-not-allowed{cursor:not-allowed}.nvx-cursor-help{cursor:help}.nvx-select-none{user-select:none}.nvx-select-text{user-select:text}.nvx-select-all{user-select:all}

