/*======================================*/
/*⚡ 43 css section Overflow ⚡         */
/*======================================*/
.nvx-overflow-auto{overflow:auto}.nvx-overflow-hidden{overflow:hidden}.nvx-overflow-visible{overflow:visible}.nvx-overflow-scroll{overflow:scroll}.nvx-overflow-x-auto{overflow-x:auto}.nvx-overflow-y-auto{overflow-y:auto}

