/*======================================*/
⚡117 css section  TYPOGRAPHY - CONSISTENT SCALE ⚡
/*======================================*/
.nvx-leading-3{line-height:0.75}.nvx-leading-4{line-height:1}.nvx-leading-5{line-height:1.25}
.nvx-leading-6{line-height:1.5}.nvx-leading-7{line-height:1.75}.nvx-leading-8{line-height:2}
.nvx-leading-9{line-height:2.25}.nvx-leading-10{line-height:2.5}

