/*======================================*/
⚡129 css section  PULSE LOADER ⚡
/*======================================*/
.nvx-loading-pulse{animation:nvx-pulse 1.5s ease-in-out infinite}
@keyframes nvx-pulse{0%,100%{opacity:1}50%{opacity:.5}}
